<header class="header" [class.shrink]="isShrunk">
  <div class="logo">
    <img src="assets/images/logo_judiciales_1.png" alt="Logo Judiciales de Santa Cruz" />
  </div>
  <div class="title">
    <p><b>Asociación Gremial de Empleados y Empleadas Judiciales de la Provincia de Santa Cruz “3 de Julio”</b></p>
  </div>
  <div class="social-links">
    <a href="https://www.facebook.com/judicialessantacruz" target="_blank" aria-label="Facebook">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/judicialessantacruz/" target="_blank" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
</header>
<nav class="navbar">
  <div class="menu-toggle" id="mobile-menu" [class.active]="isMobileMenuOpen" (click)="toggleMobileMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="nav-list" [class.active]="isMobileMenuOpen">
  <li class="nav-item"><a routerLink="/inicio" (click)="closeMenuOnNavigation()">Inicio</a></li>
  <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('institucional')">
      Institucional
    </a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('institucional')">
      <!-- <li><a routerLink="/autoridades" (click)="closeMenuOnNavigation()">Miembros de Comisión</a></li> -->
      <!-- <li><a routerLink="/estatuto" (click)="closeMenuOnNavigation()">Estatuto</a></li> -->
      <li><a routerLink="/logos" (click)="closeMenuOnNavigation()">Logos Institucionales</a></li>
      <li><a routerLink="/afiliaciones" (click)="closeMenuOnNavigation()">Afiliaciones</a></li>
      <li><a routerLink="/historia" (click)="closeMenuOnNavigation()">Historia</a></li>
      <li><a routerLink="/galeria-historica" (click)="closeMenuOnNavigation()">Galería Historica</a></li>
       <li><a routerLink="/convenios-sindicales" (click)="closeMenuOnNavigation()">Convenios Sindicales</a></li>
      <!-- <li><a routerLink="/logos" (click)="closeMenuOnNavigation()">Logos (EN CONSTRUCCIÓN)</a></li> -->
      <!-- <li><a routerLink="/archivos" (click)="closeMenuOnNavigation()">Archivos</a></li> -->
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('Comisiones Directivas')">
      Comisiones Directivas
    </a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('comisionesDirectivas')">
      <li><a routerLink="/comision-actual" (click)="closeMenuOnNavigation()">Comisión actual</a></li>
      <li><a routerLink="/comisiones-anteriores" (click)="closeMenuOnNavigation()">Comisiones anteriores</a></li>
    </ul>
  </li>


  <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('areas')">Áreas</a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('areas')">
      <!-- <li><a routerLink="/general" (click)="closeMenuOnNavigation()">General</a></li> -->
      <li><a routerLink="/secretarias" (click)="closeMenuOnNavigation()">Secretarías</a></li>
      <li><a routerLink="/delegados-afiliados" (click)="closeMenuOnNavigation()">Delegados/as y afiliados/as</a></li>
      <!-- <li><a routerLink="/tecnica" (click)="closeMenuOnNavigation()">Técnica</a></li>
      <li><a routerLink="/capacitacion" (click)="closeMenuOnNavigation()">Capacitación</a></li>  -->
      <li><a routerLink="/accion-social" (click)="closeMenuOnNavigation()">Acción Social (EN CONSTRUCCIÓN)</a></li>
      <!-- <li><a routerLink="/deporte-adaptado" (click)="closeMenuOnNavigation()">Deporte Adaptado</a></li>
      <li><a routerLink="/ddhh" (click)="closeMenuOnNavigation()">DD.HH.</a></li> -->
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('inclusion')">
      De Inclusión
    </a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('inclusion')">
      <li><a routerLink="/genero-diversidad" (click)="closeMenuOnNavigation()">Género y Diversidad</a></li>
      <li><a routerLink="/discapacidad" (click)="closeMenuOnNavigation()">Discapacidad</a></li>
    </ul>
  </li>
  <!-- <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('unidades')">
      Unidades
    </a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('unidades')">
      <li><a routerLink="/beneficios" (click)="closeMenuOnNavigation()">De Beneficios</a></li>
      <li><a routerLink="/ley-participativa-2022" (click)="closeMenuOnNavigation()">Ley Participativa 2022</a></li>
      <li><a routerLink="/derecho-laboral-2021" (click)="closeMenuOnNavigation()">Derecho Laboral 2021</a></li>
      <li><a routerLink="/trabajo-social" (click)="closeMenuOnNavigation()">Trabajo Social (Heredia/MTS)</a></li>
    </ul>
  </li> -->
  <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('capacitaciones')">
      Capacitaciones
    </a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('capacitaciones')">
      <li><a routerLink="/encuentro-mujeres-diversidades" (click)="closeMenuOnNavigation()">Encuentro de Mujeres y Diversidades</a></li>
      <li><a routerLink="/encuentro-dialogados" (click)="closeMenuOnNavigation()">Encuentro Delegadas y Delegados (EN CONSTRUCCIÓN)</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('Turismo Social')">
      Turismo Social
    </a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('Turismo Social')">
      <li><a routerLink="/encuentro-mujeres" (click)="closeMenuOnNavigation()">EN CONSTRUCCION</a></li>
      <!-- <li><a routerLink="/encuentro-dialogados" (click)="closeMenuOnNavigation()">Turismo Social 2</a></li> -->
    </ul>
  </li>


  <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('utilidades')">
      Utilidades
    </a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('utilidades')">
      <li><a routerLink="/ley-paritaria-3022" (click)="closeMenuOnNavigation()">Ley Paritaria 3022</a></li>
      <li><a routerLink="/sistema-salarial" (click)="closeMenuOnNavigation()">Sistema salarial</a></li>
      <li><a routerLink="/beneficios" (click)="closeMenuOnNavigation()">De Beneficios</a></li>
      <!-- <li><a routerLink="/ley-participativa-2022" (click)="closeMenuOnNavigation()">Ley Participativa 2022</a></li> -->
      <li><a routerLink="/derecho-laboral" (click)="closeMenuOnNavigation()">Derecho Laboral</a></li>
      <li><a routerLink="/derecho-sindical" (click)="closeMenuOnNavigation()">Derecho Sindical</a></li>
      <li><a routerLink="/licencia-promocion" (click)="closeMenuOnNavigation()">Licencia y Promoción</a></li>
      <li><a routerLink="/licencia-contratados" (click)="closeMenuOnNavigation()">Licencia Contratados</a></li>
      <li><a routerLink="/reglamento-justicia" (click)="closeMenuOnNavigation()">Reglamento para la Justicia</a></li>
      <li><a routerLink="/bienestar-laboral" (click)="closeMenuOnNavigation()">Bienestar Laboral</a></li>
      <li><a routerLink="/salud-mental" (click)="closeMenuOnNavigation()">Salud Mental</a></li>
      <!-- <li><a routerLink="/trabajo-social" (click)="closeMenuOnNavigation()">Trabajo Social (Heredia/MTS)</a></li> -->
    </ul>
  </li>


    <li class="nav-item dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('capacitaciones')">
        Centro de Jubilados y Jubiladas
      </a>
      <ul class="dropdown-menu" [class.show]="isDropdownActive('amigos')">
        <li><a routerLink="/gremio-jubilados-judiciales" (click)="closeMenuOnNavigation()">Centro de Jubilados Judiciales</a></li>
      </ul>
    </li>

   <li class="nav-item dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('sobre-nosotros')">
      ¿Quiénes Somos?
    </a>
    <ul class="dropdown-menu" [class.show]="isDropdownActive('sobre-nosotros')">
      <li><a routerLink="/sobrenosotros" (click)="closeMenuOnNavigation()">¿Quiénes Somos?</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a routerLink="/contact" (click)="closeMenuOnNavigation()">Contacto</a>
  </li>
</ul>
</nav>