{% extends 'base.html' %}

{% block content %}
<h1>Política de Privacidad</h1>

<p>En esta sección se explica cómo se recaba, se utiliza y se protege su información personal.</p>

<h2>Disposiciones Generales</h2>
<p>La información personal de nuestros usuarios es de gran importancia para la asociación, por esa razón se utilizan los medios administrativos y técnicos a nuestro alcance para asegurar la privacidad y protección de los mismos.</p>

<h2>Formas de obtención de datos</h2>
<p>El presente apartado de “Política de Privacidad” se aplica a toda la información personal de los usuarios obtenida como consecuencia de la utilización del sitio web, la contestación de encuestas, inscripción a eventos y formularios.</p>

<h2>Finalidad y administración de los datos</h2>
<p>En cumplimiento con la Ley 25.326 de Protección de Datos Personales de la República Argentina, el usuario debe conocer que la información personal no será utilizada con otros fines a los que respecta la actividad principal de ASOCIACION GREMIAL DE EMPLEADOS JUDICIALES DE LA PROVINCIA DE SANTA CRUZ “3 DE JULIO” registrada bajo CUIT 30-64020464-4 como Servicios de Sindicatos – Servicios de Asociaciones y Servicios Personales.</p>
<p>La asociación utilizará la información para los siguientes fines:</p>
<ul>
    <li>Identificación y autenticación</li>
    <li>Administración de perfil de usuario</li>
    <li>Fines estadísticos</li>
    <li>Envío de notificaciones, promociones y/o actividades similares</li>
</ul>

<h2>Derechos de los titulares de datos</h2>
<h3>4.1. De acceso</h3>
<p>El titular de los datos tiene derecho a solicitar información de sus datos personales incluidos en los bancos de datos públicos o privados conforme lo establecido en el artículo 14, inciso 3 de la Ley 25.326 de Protección de Datos Personales de la República Argentina.</p>

<h3>4.2. De rectificación, actualización o supresión</h3>
<p>Toda persona tiene derecho a que sean rectificados, actualizados y, cuando corresponda, suprimidos o sometidos a confidencialidad los datos personales de los que sea titular, que estén incluidos en un banco de datos, tal como lo establece el artículo 16, inciso 1 de la Ley 25.326 de Protección de Datos Personales de la República Argentina.</p>

{% endblock %}

</body>
</html>



















{% comment %} {% extends "base.html" %}

{% block title %}Política de Privacidad{% endblock %}

{% block content %}
<section id="politica-privacidad">
    <h1>Política de Privacidad</h1>
    <div class="content">
        <!-- Aquí puedes agregar el contenido de la Política de Privacidad -->
        <p>Contenido de la Política de Privacidad.</p>
    </div>
</section>
{% endblock %} {% endcomment %}
