<section id="sedes">
    <h2>Nuestras Sedes</h2>
    <p>Contamos con varias sedes para brindarte el mejor servicio. Selecciona una sede para conocer más detalles y cómo llegar.</p>

    <div class="sedes-container">
        <div class="sedes-lista">
            <div id="sede1" class="sede-detalle sede-miniatura" onclick="mostrarSede('sede1')">
                <img src="assets/images/sede_rio_gallegos.png" alt="Sede Principal">
                <h3>Sede Central Río Gallegos</h3>
            </div>

            <div id="sede2" class="sede-detalle sede-miniatura" onclick="mostrarSede('sede2')">
                <img src="assets/images/sede_el_calafate.png" alt="Sede Secundaria">
                <h3>Sede El Calafate</h3>
            </div>

            <div id="sede3" class="sede-detalle sede-miniatura" onclick="mostrarSede('sede3')">
                <img src="assets/images/sede_san_julian.png" alt="Sede de Capacitación">
                <h3>Sede San Julián</h3>
            </div>

            <div id="sede4" class="sede-detalle sede-miniatura" onclick="mostrarSede('sede4')">
                <img src="assets/images/sede_caleta_olivia.png" alt="Sede de Capacitación">
                <h3>Sede Caleta Olivia</h3>
            </div>
        </div>

        <div id="informacion-sede" class="informacion-sede">
            <!-- Información de la sede seleccionada -->
        </div>
    </div>
</section>
