<footer class="footer">

  <!-- Modal Bienvenida -->
  <div class="welcome-modal" *ngIf="welcomeModalOpen" (click)="onWelcomeModalClick($event)">
    <div class="welcome-modal-content" (click)="$event.stopPropagation()">
      <span class="qr-close" (click)="closeWelcomeModal()">&times;</span>

      <h3>Si sos trabajador/a del Poder Judicial de Santa Cruz ¡Afiliate a nuestro gremio!</h3>

      <p>Bienvenid&#64;s a nuestra WEB Judiciales de Santa Cruz</p>

      <p>Acá vas a encontrar todo sobre la vida gremial:</p>
      <ul class="welcome-list">
        <li>Licencias</li>
        <li>Derechos</li>
        <li>Comisiones directivas</li>
        <li>Noticias</li>
        <li>La voz de los/as trabajadores/as judiciales</li>
      </ul>

      <p>Un espacio para informarnos, organizarnos y seguir construyendo juntos.</p>

      <p>Convertite en parte de la Asociación Gremial de Empleados&#64;s Judiciales de Santa Cruz y disfruta de todos los beneficios.</p>

      <button (click)="closeWelcomeModal()">Cerrar</button>
    </div>
  </div>

  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>Sobre Nosotros</h2>
        <p>
          En la Asociación Gremial de Empleados/as Judiciales de Santa Cruz 
          trabajamos día a día para defender los derechos laborales, mejorar las 
          condiciones de trabajo y fortalecer la unidad de nuestros/as compañeros/as en toda la provincia.
          Nuestra historia está marcada por la lucha, la organización y la solidaridad, 
          valores que nos impulsan a buscar siempre mejores beneficios, capacitaciones y oportunidades para nuestros afiliados/as y sus familias.

          Contamos con sedes en distintas localidades de Santa Cruz, 
          donde brindamos atención personalizada, asesoramiento gremial y acceso a 
          servicios sociales, recreativos y turísticos. Somos un gremio presente, que escucha, 
          acompaña y representa, con el compromiso de construir un Poder Judicial más justo, inclusivo 
          y digno para quienes lo hacen posible: sus trabajadores/as.
          
        </p>
        <ul class="socials">
          <li><a href="https://www.facebook.com/judicialessantacruz" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/judicialessantacruz/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
      
      <div class="footer-section links">
        <h2>Enlaces Rápidos</h2>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contactar</a></li>
          <li><a href="#">Soporte</a></li>
        </ul>
      </div>
     
      
      <div class="footer-section contact">
        <h2>Contacto</h2>

        <div class="sede">
          <p><strong>Río Gallegos – El Calafate</strong><br>
            <a href="mailto:gremiojudicialesrg&#64;gmail.com">gremiojudicialesrg&#64;gmail.com</a><br>
            +54 9 2966 34-0743</p>
        </div>

        <div class="sede">
          <p><strong>Caleta Olivia – Pto. San Julián</strong><br>
            <a href="mailto:empleadosjudiciales3dejulio&#64;hotmail.com">empleadosjudiciales3dejulio&#64;hotmail.com</a><br>
            +54 9 2966 70-7561</p>
        </div>

        <div class="sede-general">
          <p><strong>Dirección Central:</strong> Ramón y Cajal 257<br>
            (02966) 340743<br>
            Lunes a Viernes, 9:00 a 12:00 y 15:00 a 20:00 hs</p>
        </div>

        <div class="reservas">
          <p><strong>Puntos de atención para reservas:</strong></p>
          <ul class="reservas-list">
            <li><strong>San Julián:</strong> hospedajes en San Julián y Caleta Olivia.<br>
                <em>Horario: Lunes a Viernes, 9:00 a 12:00 y 16:00 a 19:00 hs</em></li>
            <li><strong>Río Gallegos:</strong> hospedajes en Río Gallegos y El Calafate.<br>
                <em>Horario: Lunes a Viernes, 8:00 a 12:00 y 16:00 a 19:00 hs</em></li>
          </ul>
        </div>

        <p><strong>Responsable:</strong> Franco Mascheroni</p>

        <p><em>Te invitamos a visitarnos o a comunicarte con nosotros para cualquier consulta o inquietud.</em></p>
      </div>

      <!-- Modal QR -->
      <div class="qr-modal" *ngIf="qrModalOpen" (click)="onModalClick($event)">
        <span class="qr-close" (click)="closeQrModal()">&times;</span>
        <img [src]="qrModalSrc" [alt]="qrModalAlt" class="qr-modal-content">
        <div class="qr-caption">{{ qrModalAlt }}</div>  
      </div>
      
      <!-- Nueva sección para la app móvil -->
      <div class="footer-section app-download">
        <h2>App para Afiliados</h2>
        <p>Escanea con tu celular para descargar nuestra app "Judiciales de Santa Cruz Mi Credencial Digital":</p>

        <!-- QR Android -->
        <img src="assets/images/qr-code-android.webp" 
            alt="QR Android" 
            class="footer-qr clickable-qr"
            (click)="openQrModal('assets/images/qr-code-android.webp','QR Android')">

        <!-- QR iOS -->
        <img src="assets/images/qr-code-ios.webp" 
            alt="QR iOS" 
            class="footer-qr clickable-qr"
            (click)="openQrModal('assets/images/qr-code-ios.webp','QR iOS')">
      </div>
    </div>

    <div class="countdown-box">
      <h3>Cuenta regresiva para el Día el/la Trabajador/a Judicial</h3>
      <div>
        {{countdown.days}}d {{countdown.hours}}h {{countdown.minutes}}m {{countdown.seconds}}s
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; 2024 Gremio Judiciales de Santa Cruz. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
