<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>Sobre Nosotros</h2>
        <p>En el Gremio de Judiciales de Santa Cruz, nos comprometemos a 
          brindar un servicio cercano y eficiente a nuestros afiliados. 
          Nuestras oficinas administrativas están ubicadas en: <br><br>

          Dirección: Ramón y Cajal 257 <br>
          Teléfono: (02966) 340743 <br>
          Horarios: Lunes a Viernes, de 9:00 a 12:00 y de 15:00 a 20:00 hs <br><br>
          Responsable: Franco Mascheroni. <br>
          
          <br> Te invitamos a visitarnos o a comunicarte con nosotros para cualquier consulta o inquietud.
          
        </p>
        <ul class="socials">
          <li><a href="https://www.facebook.com/judicialessantacruz" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/judicialessantacruz/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
      
      <div class="footer-section links">
        <h2>Enlaces Rápidos</h2>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contactar</a></li>
          <li><a href="#">Soporte</a></li>
        </ul>
      </div>
      
      <div class="footer-section contact">
        <h2>Contacto</h2>
        <p>Río Galleos - El Calafate</p>
        <p>Email: gremiojudicialesrg&#64;gmail.com</p>
        <p>Caleta Olivia - Pto. San Julián</p>
        <p>Email: empleadosjudiciales3dejulio&#64;hotmail.com</p>
        <p>Central Río Gallegos - El Calafate <br> Teléfono: +54 9 2966 34-0743</p>
        <p>Sedes San Julían - Caleta Olivia <br>Teléfono: +54 9 2966 70-7561</p>
      </div>

      <!-- Nueva sección para la app móvil -->
      <div class="footer-section app-download">
        <h2>App para Afiliados</h2>
        <p>Descarga nuestra app "Judiciales de Santa Cruz Cred":</p>
        <a href="https://play.google.com/store/apps/details?id=com.dynamicice.Judicialessantacruz&pli=1" target="_blank" aria-label="Descargar la app Judiciales de Santa Cruz Cred">
          <img src="assets/images/logo_qr_code.png" alt="QR para descargar la app Judiciales de Santa Cruz Cred" class="footer-qr">
        </a>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; 2024 Gremio Judiciales de Santa Cruz. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
