body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    padding-top: 160px;
}

@media (max-width: 1024px) {
    main {
        padding-top: 130px;
    }
}