#actualidad {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.actualidad-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.actualidad-item {
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.actualidad-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.iframe-container {
    width: 100%; /* Para que ocupe todo el ancho del artículo */
    overflow: hidden; /* Para evitar el desbordamiento */
    position: relative;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Hace que el iframe ocupe el 100% del contenedor */
    height: 100%; /* Hace que el iframe ocupe el 100% del contenedor */
    border: none; /* Sin bordes */
}

.actualidad-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.leer-mas {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.leer-mas:hover {
    text-decoration: underline;
}

.app-info {
    text-align: center;
}

.qr-image {
    width: 150px;
    height: auto;
    margin: 0 auto 10px;
}
