<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item"><a href="#autoridades">Autoridades</a></li>
        <li class="nav-item"><a href="#estatuto">Estatuto</a></li>
        <li class="nav-item"><a href="#reglamentos">Reglamento de licencias</a></li>
        <li class="nav-item"><a href="#terminos">Términos y condiciones</a></li>
    </ul>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
