.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #314F7E;
    padding: 10px 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #ff6347;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-item {
        margin: 15px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar.active .nav-list {
        display: flex;
    }
}