{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">

    <title>{% block title %}Gremiop Judiciales Santa Cruz{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

    <script src="https://kit.fontawesome.com/16c678032e.js" crossorigin="anonymous"></script>

</head>
<body>

    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'main/images/logo_judiciales.png' %}" alt="Logo de Gremius">
                </a>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Institucional</a></li>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Encuentro de Mujeres</a></li>
                    <li><a href="#">Comunicados Oficiales</a></li>
                </ul>
                <a href="{% url 'login' %}" class="login-button">Ingresá</a>
            </nav>
        </div>
    </header>






    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ current_year }} Gremio de Judiciales - Santa Cruz. Todos los derechos reservados.</p>
            <div class="social-media">
                <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-facebook fa-shake"></i>
                </a>
                <a href="https://x.com" target="_blank" aria-label="X">
                    <i class="fa-solid fa-x fa-shake"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram fa-shake"></i>
                </a>
            </div>
        </div>
    </footer>

</body>
</html>
