html, body {
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* ****************************************************************************************/

body {
    display: flex;
    flex-direction: column;
}

/******************************************************************************************/

header {
    background-color: #253F59;
    padding: 10px 0;
}

header .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-shrink: 0; /* Evita que el logo se reduzca */
}

.logo img {
    max-height: 150px; 
    width: auto;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

/* Estilos para la barra de navegación */

nav {
    display: flex;
    align-items: center;
}

nav .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav .nav-list li {
    margin-right: 20px;
}

nav .nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav .nav-list li a:hover {
    color: #0056b3;
}

/* Estilo para el botón de login */

.login-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

/********************************************************************************************/

/* Estilos del contenido principal */

main {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*******************************************************************************************************************/

/* Estilo para el footer */

footer {
    background-color: #253F59;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

/* Estilo para los enlaces de redes sociales */

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #000;
}
